/*/bin/
/plugins/*/bin/
/plugins/*/bcelpatchbin/
/othersrc/*/bin/
/othersrc/otdt-examples/*/bin/
/testplugins/*/bin/
/testplugins/*/jplis_dump/
*~
*.rej
*.bak
*.patch
javacore.*
heapdump.*
core.*
Snap.*
/*/bin-resources/
/*/binext/
/*/binprocessors/
/*/antbin/
