<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.objectteams.otequinox.aspectBindings">
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.core"/>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.AdaptorActivator"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"/>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.BuildManager"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.compiler.adaptor.CompilationThreadWatcher"/>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.CompilationThreadWatcher"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"/>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.BaseImportChecker"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.compiler.adaptor.CompilationThreadWatcher"/>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.RoleReuseGuard"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.PlainProjectWatcher"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.compiler.adaptor.CompilationThreadWatcher">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.pde.core">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.PDEAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.core.resources">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.compiler.adaptor.ResourceProjectAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
   </extension>

</plugin>
