<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <!-- === Wizard: === --> 
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.objectteams.otdt.ui.wizards"
            class="org.eclipse.objectteams.otdt.internal.pde.ui.OTNewPluginProjectWizard"
            finalPerspective="org.eclipse.objectteams.otdt.ui.OTJavaPerspective"
            icon="icons/ot/newotpprj_obj.gif"
            id="org.eclipse.objectteams.otdt.pde.ui.wizards.OTNewPluginProjectWizard"
            name="Object Teams Plug-in Project "
            preferredPerspectives="org.eclipse.objectteams.otdt.ui.OTJavaPerspective"
            project="true">
          <description>
          	%new.OTPluginProject.description
          </description>
      </wizard>
   </extension>
   
   <!-- === Aspects: === -->
   <extension
         point="org.eclipse.objectteams.otequinox.aspectBindings">
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin id="org.eclipse.pde.ui"
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"/>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.OTPluginDependenciesAdapter"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"/>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.ExtensionEditorAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.validation.BundleValidation"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.pde.core">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.ClasspathComputerAdapter"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.validation.BundleValidation"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.PackageExplorerAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.migration.OTEquinoxMigration"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.ui">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.PackageExplorerAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.pde.api.tools.ui">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.pde.ui.ApiToolsAdapter"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.core.resources">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.migration.OTJProjectMigration"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.objectteams.otdt.pde.ui.objectContribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.objectteams.otdt.internal.pde.ui.ToggleOTSupportAction"
               enablesFor="+"
               id="org.eclipse.objectteams.otdt.pde.ui.toggleOTSupportAction"
               label="%menu.addOTSupport.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.objectteams.otdt.OTJavaNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.objectteams.otdt.internal.migration.MigrationResolutions"
            markerType="org.eclipse.jdt.core.buildpath_problem">
         <attribute
               name="sourceId"
               value="OTDT">
         </attribute>
      </markerResolutionGenerator>
   </extension>
</plugin>
