<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.objectteams.otequinox.aspectBindings">
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.debug.ui">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.VariablesViewAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.DebugUIDialogAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.PresentationAdaptorActivator"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.debug.ui">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.PresentationAdaptorActivator"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.JDTDebugUILaunchingAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.DebugUIDialogAdaptor2"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.DebugUIDialogAdaptor">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.RetargettableActionAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
      <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.debug">
         </basePlugin>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.PresentationAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.SourceLookupAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
      </aspectBinding>
     <aspectBinding
           icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
        <basePlugin
              icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
              id="org.eclipse.pde.ui">
        </basePlugin>
        <team
              activation="ALL_THREADS"
              class="org.eclipse.objectteams.otdt.internal.debug.adaptor.SourceLookupAdaptor"
              icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
        </team>
        <team
              activation="ALL_THREADS"
              class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.PDELaunchingAdaptor"
              icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
        </team>
     </aspectBinding>
     <aspectBinding
           icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
        <basePlugin
              icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
              id="org.eclipse.debug.core">
        </basePlugin>
        <team
              activation="ALL_THREADS"
              class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.LaunchConfigurationInitializer"
              icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
        </team>
     </aspectBinding> 
     <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.launching">
         </basePlugin>
         <team
               activation="ALL_THREADS"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.JDTLaunchingAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
         </team>
     </aspectBinding>
     <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.junit.core">
         </basePlugin>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.JUnitLaunchingAdaptor"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.JDTLaunchingAdaptor">
         </team>
     </aspectBinding>
     <aspectBinding
            icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
         <basePlugin
               icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
               id="org.eclipse.jdt.junit">
         </basePlugin>
         <team
               activation="NONE"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.DebugUIDialogAdaptor3"
               icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif"
               superclass="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.DebugUIDialogAdaptor2">
         </team>
     </aspectBinding>
     <aspectBinding
           icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
        <basePlugin
              icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
              id="org.eclipse.jdt.ui">
        </basePlugin>
        <team
              activation="NONE"
              class="org.eclipse.objectteams.otdt.internal.debug.adaptor.PresentationAdaptor"
              icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
        </team>
     </aspectBinding>
     <aspectBinding
           icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/calloutbinding_obj.gif">
        <basePlugin
              icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/plugin_obj.gif"
              id="org.eclipse.pde.launching">
        </basePlugin>
        <team
              activation="ALL_THREADS"
              class="org.eclipse.objectteams.otdt.internal.debug.adaptor.launching.PDELaunchingAdaptor"
              icon="platform:/plugin/org.eclipse.objectteams.otdt.ui/icons/ot/team_obj.gif">
        </team>
     </aspectBinding>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.VariableView"
            id="org.eclipse.objectteams.otdt.internal.debug.adaptor.VariableViewActions">
         <action
               style="toggle"
               id="org.eclipse.objectteams.otdt.internal.debug.adaptor.variableViewActions.ShowOTInternal"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.actions.ShowOTInternalVariablesAction"
               helpContextId="show_otinternal_action_context"
               label="%showOTInternalAction.label"
               menubarPath="org.eclipse.jdt.debug.ui.VariableView.javaSubmenu/javaPart"
               tooltip="%showOTInternalAction.tooltip">
         </action>
       </viewContribution>
             <viewContribution
            targetID="org.eclipse.objectteams.otdt.debug.ui.views.team"
            id="org.eclipse.objectteams.otdt.internal.debug.adaptor.VariableViewActions">
         <action
               style="toggle"
               id="org.eclipse.objectteams.otdt.internal.debug.adaptor.variableViewActions.ShowOTInternal"
               class="org.eclipse.objectteams.otdt.internal.debug.adaptor.actions.ShowOTInternalVariablesAction"
               helpContextId="show_otinternal_action_context"
               label="%showOTInternalAction.label"
               menubarPath="org.eclipse.jdt.debug.ui.VariableView.javaSubmenu/javaPart"
               tooltip="%showOTInternalAction.tooltip">
         </action>
         <menu
               id="org.eclipse.jdt.debug.ui.VariableView.javaSubmenu"
               label="%VariablesViewJavaSubmenu.label"
               path="javaActions">
            <groupMarker name="org.eclipse.jdt.debug.ui.javaPart"/>
         </menu>
       </viewContribution>
	</extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.objectteams.otdt.internal.debug.adaptor.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
